/*
Theme: practice project 1
Author: Du Web Team
Version: 1.0.0


------ Table of Content -------
1. banner section
2. pricing section
3. plan part
4. features part
5. loving section
6. team section
7. blog section 
*/


body{
    font-family: 'Oswald', sans-serif;
}
.section_title h2{
    font-size: 45px;
    color:#5a5959;
}

.navbar{
	background: #e1e1e1;
    overflow: hidden;
    padding: 0;
}
.navbar .main_menu li{

}
.navbar .main_menu li a{
    text-decoration: none;
    padding: 38px 20px;
    color: #000;
    font-weight: 400; 
    font-family: sans-serif;
    transition: all .3s;
    font-size: 18px;
    text-transform: capitalize;
    display: block;
}
.navbar .main_menu li a:hover,
.navbar .main_menu li a.yasinvai{
    background: #b7b7a4; 
}
.autoType{
    font-size: 40px;
    color: #fff;
    font-family: tahoma;
}
.text{
    color: red;
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}


/* slider section */
.slider_section {
    position: relative;
}
.single_slider::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .1);
    top: 0;
    left: 0;
}
.slider_section .slider{
    height: 90vh;
    overflow: hidden;
}
.slider_section .slider .single_slider img{
    min-width: 100%;
    height: 100%;
}
.slider_text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: #fff;
}
.slider_text h1 {
	font-size: 60px;
	font-weight: 400;
}
/* slider text */
.slider_text button {
    width: 125px;
    padding: 7px 10px;
    background: #5a5959;
    color: #fff;
    border: 1px solid transparent;
    margin: 20px 10px 0;
    font-size: 18px;
    transition: all .5s;
}
.slider_text button:hover{
    background-color: transparent;
    border: 1px solid #fff;
}

.slider_text #typed {
	font-size: 30px;
}
.slider_text .type_content {
	margin: 30px 0;
}
.slider_text .typed-cursor {
    font-size: 20px;
}


/* about section */
.about_section{
    padding: 60px;
}
.about_section .about_title h2 {
	font-size: 40px;
}
.about_section .about_text {
	background-color: #E1E1E1;
	padding: 25px 40px;
}
.about_section .about_text p{
	margin-bottom: 0;
}
.about_section .about_text h3 {
	margin-bottom: 20px;
	font-weight: 400;
	font-size: 25px;
}
.about_section .about_text .main_text {
	margin-bottom: 60px;
}


/* video part start */
.video{
    position: relative;
}
.video img{
    width: 100%;
}
.video .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.4);
    transition: 0.3s;
}
.video .overlay i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50% , -50% );
    font-size: 65px;
    color: #ccc;
    transition: .3s;
}
.video .overlay:hover{
    background-color: rgba(0,0,0, .6);
    
}
.video .overlay:hover i{
    color: #fff;
    font-size: 80px;
}

/******** skill section ********/
.skill_section{
    padding: 100px 0;
    background: url('../images/skill_bg.jpg');
}

 
/* portfolio start*/
.portfolio{
    padding: 100px 0;
}
.portfolio [class^='work'] img{
    width: 100%; 
}
.portfolio [class^='work']{
    position: relative;   
}
.portfolio [class^='work']::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    transition: all .4s;
    cursor: url('../images/icon-zoom-white.png'),pointer;
}
.portfolio [class^='work']:hover::after{
    width: 50%;
}
.portfolio [class^='work']::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    transition: all .4s;
    cursor: url('../images/icon-zoom-white.png'),pointer;
}
.portfolio [class^='work']:hover::before{
    width: 50%;
}
.portfolio [class^='work'] a{
    z-index: 999;
    position: relative;
}



/* portfolio end*/

/* counter start */
.counter_area{
    background: url(../images/counter_bg.jpg);
    padding: 100px 0;
    position: relative;
}
.counter_area::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7); 
}
.counter_area .counter_item{
    text-align: center;
    z-index: 9;
    position: relative;
}
.counter_area .counter_item .number{
    display: block;
    font-size: 40px;
    color: #fff;
}
.counter_area .counter_item .title{
    display: block;
    font-size: 25px;
    color: #fff;
}
/* counter end */

/* client section  */
.client_section{
    position: relative;
}
.client_section .arrow{
    position: absolute;
    top: 55%;
    font-size: 45px;
    color:#5a5959;
    outline: 0;

}
.client_section .arrow.right_angle{
    right: 5%;
}
.client_section .arrow.left_angle{
    left: 5%;
}
.client_section .section_title{
    margin-bottom: 40px;
}
.client_section .client_image{
    height : 400px;
    overflow: hidden;
}
@media all and (max-width: 768px){
    .client_section .client_image{
        height: 500px;
    }
}
@media all and (max-width: 645px){
    .client_section .arrow { 
        position: absolute;
        bottom: 0%;
        font-size: 45px;
        color:#5a5959;
        outline: 0;
    }
}
.client_section .client_image .col-4 , .col-8{
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}
.client_section .client_image img{
    width: 100%;
}
.client_section .client_text{
    background-color: #ddd6d6;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 80px 10px;
    box-sizing: border-box;
    margin-right: 0;
}

/* contact part start */
.contact{
    padding: 80px 0;
    background: url(../images/contact_bg.jpg);
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contact::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
}
.contact .contact_text{
    position: relative;
    z-index: 9;
}
.contact_form > *{
    background: transparent;
}
.contact_form{ 
    text-align: center;
}
.social_link{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}
.contact_text{
    width: 70%;
}
.social_link ul{
    display: flex;
    list-style: none;
    margin: auto;
    padding: 0;

}
.social_link ul li{
     width: 50px;
     height: 50px;
     border: 1px solid #fff;
    margin: 0 5px;
    transition: all .3s;
}
.social_link ul li:hover{
    border: 1px solid #cccd;
}
.social_link ul li:hover a{
    color: #cccd;
}
.social_link ul li a{
    display: flex;
    list-style: none;
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    line-height: 50px;
    display: block;
    text-align: center;
    transition: all .3s;
}

/* contact part end*/